 /* переваги */




.section{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
        padding-bottom: 94px;
    }
}


.section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $title-tekst-color;  
      }
    
      .preference  {
        display: block;
      

 @media screen and (min-width:768px) {
   display: flex;
    flex-wrap: wrap;
    
   
 }
    & .preference__items{
    @media screen and (min-width:768px) {
     width: calc((100%-60px)/2);
    

        
   }
 }

 
 


        & .preference__items +.preference__items{
            
            margin-left: 30px;
            
            @media screen and (max-width:768px) {
               margin: 0;

               
             }

            

             
           }
    
        & .preference__title {
        margin-top: 0px;
        margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $title-tekst-color ;   
     }
    
    & .preference__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primery-text-color;   
     }
    

     & .preference__items::before{
        display: block;
        content:"";
       
        height: 120px;
        /* outline: 1px solid red; */
        background: #F5F4FA;
    border-radius: 4px;
    background-size:none;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    
    }

  
    
    
    & .preference__items:nth-child(4)::before{
        background-image: url(../imges/icons.svg/astronaut\ 4\ \(1\).svg);
    
    }
    & .preference__items:nth-child(3)::before{
        background-image: url(../imges/icons.svg/Vector3\ \(1\).svg);
    }
    
    & .preference__items:nth-child(2)::before{
        background-image: url(../imges/icons.svg/clock\ 2\ \(1\).svg);
    }
    
    & .preference__items:nth-child(1)::before{
        background-image: url(../imges/icons.svg/antenna\ 1\ \(1\).svg);
    }

    }